.dialog {
  max-width: 480px;
  width: fit-content;

  @media (min-width: 768px) {
    width: 480px;
  }

  &::backdrop {
    background-color: #e0ffff80;
  }

  input {
    margin: 0 0 24px;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
  }

  .buttonPanel {
    display: flex;

    button {
      border: 0;
      padding: 12px 16px;
      cursor: pointer;
    }

    .closeButton {
      background: #d4e5e5;
      margin-right: 8px;
      margin-left: auto;
    }

    .submitButton {
      background: #ff6347;
      color: #fff;
    }
  }
}
