.header {
  background-color: #ebebeb80;
  padding: 16px;
  border-bottom: 1px solid #008080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.buttons {
  margin-left: auto;
  display: flex;
  justify-content: end;
  font-weight: 600;
  color: #008080;
}
