.arrowContainer {
  display: flex;
}
.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 4px 8px 4px 0;
}

.arrowRight {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 4px 8px 4px 0;
}

.directoryItem {
  display: flex;
  padding: 6px 16px;
  align-items: center;

  &:hover {
    background-color: #e0ffff;

    button {
      visibility: visible;
    }
  }

  button {
    visibility: hidden;
  }
}

.folderContents {
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.open {
  max-height: 100%;
}

.actionButtons {
  margin-left: auto;
  display: flex;
  justify-content: end;
  font-weight: 600;
  color: #008080;
}
